@model RecipeSite.Models.RecipeReview

<div class="review">
    <h4>@Model.ReviewerName</h4>
    <span>@Model.Rating</span>
    <p>@Model.Body</p>

    <span class="right">
        @Html.ActionLink("Edit", "Edit", new
  {
      id = Model.Id
  })
    </span>
</div>